body {
    margin: 0;
    height: 100vh;
    background-size: cover;
    /*background-image: url('/img/main_bg2.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background: rgba(21, 43, 67, 0.2);
}

.login {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 80px 20px;
    width: 90%;
    /*max-width: 320px;*/
    max-width: 400px;
    height: 300px;
    background: #ffffff;
    position: relative;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.login input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #333;
}
